.registration {

    &-choise {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.window {

    &-body {
        border: none;
    }

    .warning {
        padding-left: 10px;
        font-size: 12px;
    }
    
}